<footer class="bg-dark text-muted py-4 text-center">
  <div class="container-xl d-flex justify-content-between align-items-center flex-wrap gap-3">
    <div class="footer-logo fs-3 fw-bold text-white" style="font-family: 'Playfair Display', serif;">
      <%= link_to "/", class: "navbar-brand logo", style: "padding-left:40px;" do %>
        <%# <%= image_tag "logo-test.png", alt: "logo", style: 'height:26px;width:26px;' %>
        <span style='font-size:1.3rem;font-weight:800;color:white;'>CoOwners</span>
        <span class="ai" style='margin-left:-3px;font-size:1.3rem;font-weight:800;'>AI</span>
      <% end %>
    </div>
    <div class="footer-links d-flex gap-3">
      <a href="#" class="text-muted text-decoration-none" style='color:gray !important;'>Privacy</a>
      <a href="#" class="text-muted text-decoration-none" style='color:gray !important;'>Terms</a>
      <a href="#" class="text-muted text-decoration-none" style='color:gray !important;'>Contact</a>
    </div>
    <div  style='color:gray !important;'>&copy; 2025 CoOwnersAI. All rights reserved.</div>
  </div>
</footer>
