<ul class="position-sticky sticky-top nav flex-column">
  <li class="nav-item">
    <%= link_to "#", class: "nav-link text-dark", data: { action: "click->toggle#call" } do %>
      <i class="fa-regular fa-square-caret-left"></i>
    <% end %>
  </li>
  <% properties.each do |property| %>
    <li class="nav-item">
      <%= link_to property.name, property_path(property), class: "nav-link text-dark" %>
    </li>
  <% end %>
</ul>
