<div style='display:flex; justify-content:center'>
  <div style='max-width:800px; padding:20px;'>
    <h3 class='mb-4'>Launch AI Session</h3>
    <div id="new_message_container">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
